<div class="main-container">
<mat-card class="login-card">
  <mat-card-header>
    <h1>Iniciar Sesión</h1>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <div class="input-container" > 
        
        <label for="email">Email</label>
        <input matInput type="text" id="email" formControlName="email" required/>
        
        <div style="color: red;" [hidden]="loginForm.get('email')?.valid || loginForm.get('email')?.pristine" >
          Email ir required
        </div>
        <label for="password">Contraseña</label>
        <input matInput type="password" id="password" formControlName="password" required/>
        <div style="color: red;" [hidden]="loginForm.get('password')?.valid || loginForm.get('password')?.pristine" >
          <span *ngIf="loginForm.get('password')?.errors?.['required']">Password ir required</span>
          <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</span>
        </div>

      </div>
    </form>
    <div style="display: flex; justify-content: center; padding: 2%;" >
      <button mat-raised-button color="primary" (click)="login()">
        Iniciar Sesión
      </button>
    </div>
    @if (errorMessage) {
      <div>
        <app-error-message [errorMessage]="errorMessage" />
      </div>
    }
    @if(login_error_message){
      <div style="color: red">
        {{login_error_message}}
      </div>
    }
  </mat-card-content>
  <mat-card-actions>
    <a href="#">¿Olvidaste tu contraseña?</a>
    <a href="#">Registrarse</a>
  </mat-card-actions>
</mat-card>
</div>